In [1]:
import pandas as pd
import re
import spacy
from sklearn.model_selection import train_test_split

Tokenization:

In [13]:
nlp = spacy.load('en_core_web_sm')

In [14]:
data = pd.read_csv('data/processed_data.csv')

In [15]:
data.dropna(inplace=True)
data.reset_index(drop=True, inplace=True)
data.index

RangeIndex(start=0, stop=1589185, step=1)

In [16]:
amount_of_samples = 30000 # temporarily restrict amount of data
X = data.drop(columns=['target'])
y = data['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=len(data.index)-amount_of_samples, stratify=y)
sample = pd.concat([X_train, y_train], axis=1)
len(sample.index)

30000

In [17]:


sample['processed_text'] = sample['text'].apply(lambda x: ' '.join([token.lemma_ for token in nlp(x)]))
sample.head(5)

,text,target,processed_text
240369,loving florida beach sunburned,0,love florida beach sunburn
197360,achievement idle server weapons unlockable nor...,0,achievement idle server weapon unlockable norm...
1359193,works carrot cake,4,work carrot cake
1532216,future diabetic america,4,future diabetic america
1407737,chilling cousin emilys room,4,chill cousin emily room

In [18]:
sample = sample.reset_index(drop=True) 
sample.to_csv('data/tokenized_data.csv', header=None)
sample

,text,target,processed_text
0,loving florida beach sunburned,0,love florida beach sunburn
1,achievement idle server weapons unlockable nor...,0,achievement idle server weapon unlockable norm...
2,works carrot cake,4,work carrot cake
3,future diabetic america,4,future diabetic america
4,chilling cousin emilys room,4,chill cousin emily room
...,...,...,...
29995,got super rooting powers help big tears eyes,4,get super root power help big tear eye
29996,haha der gut,4,haha der gut
29997,hurts need watch sit build models 4 hours stra...,0,hurt need watch sit build model 4 hour straigh...
29998,festival place crappy week,0,festival place crappy week
29999,oops tweet hannah lost vball,0,oops tweet hannah lose vball